@import "./variables";


.cat {
  width: 100%;
  height: 100%;

  &__head {
    top: 35%;
    transform: translateX(-50%);
    width: 60%;    
    height: 40%;
    border-radius: 50%;
  }

  &__eyes-cont {
    width: 100%;
    height: 15%;
    top: 29%;
    
    .cat-eye {
      width: 11%;
      height: 85%;
      border-radius: 50%;
    }
    
    .cat-eye-left {
      left: 25%;
    }

    .cat-eye-right {
      left: 65%;
    }

    .cat-eye-pupil {
      height: 40%;
      width: 40%;
      border-radius: 50%;
      top: 30%;
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__whiskers-cont {
    width: 90%;
    height: 30%;
    top: 45%;
    left: 5%;

    .cat-whisker-left {
      width: 50%;
      height: 100%;
      right: 50%;
    }

    .cat-whisker-right {
      height: 100%;
      width: 50%;
      left: 50%;
      transform: rotateY(180deg);
    }
    
    .cat-whisker {
      height: 1px;
      width: 90%;
    }

    .whisker-top {
      top: 25%;
      transform: rotate(8deg);
    }

    // .whisker-top-middle {
    //   top: 35%;
    //   transform: rotate(4deg);
    // }

    .whisker-middle {
      top: 45%;
    }

    // .whisker-bottom-middle {
    //   top: 55%;
    //   transform: rotate(-4deg);
    // }

    .whisker-bottom {
      top: 68%;
      transform: rotate(-8deg);
    }
  }

  &__nose-cont {
    width: 50%;
    height: 30%;
    left: 25%;
    border: 3px solid yellow;
    top: 45%;

    .cat-nose {
      height: 10%;
      width: 30%;
      left: 35%;
      top: 50%;
      
      .cat-nose-top {
        background-color: brown;
        width: 100%;
        height: 10%;
        transform: rotate(90deg);
      }

      .cat-nose-left {
        background-color: brown;
        width: 100%;
        height: 10%;
        transform: rotate(-225deg);
      }

      .cat-nose-right {
        background-color: brown;
        width: 100%;
        height: 10%;
        transform: rotate(45deg);
      }
    }
  }
}