@import "variables.scss";

.marble {
    top: 30%;
    width: 50%;
    left: 50%;
    height: 70%;

    &__head {
        left: 50%;
        background-color: $marble-fur;
    }

    &__eye-color {
        background-color: $marble-eye-color;
    }

    &__pupil-color {
        background-color: $marble-pupil-color;
    }

    &__whisker-color {
        background: $marble-whisker-color;
    }
}