@import "./variables";

.marble {

    &__head {
        left: 75%;
        background-color: $marble-fur;
    }

    &__eye-color {
        background-color: $marble-eye-color;
    }

    &__pupil-color {
        background-color: $marble-pupil-color;
    }
}