@import "./variables";

.pearl {
    top: 30%;
    width: 50%;
    height: 70%;

    &__head {
        left: 50%;
        background-color: $pearl-fur;
    }

    &__eye-color {
        background-color: $pearl-eye-color;
    }

    &__pupil-color {
        background-color: $pearl-pupil-color;
    }

    &__whisker-color {
        background: $pearl-whisker-color;
    }

    &__nose-colour {
        background: $pearl-nose-colour;
    }

    &__ear-outer-colour {
        background: $pearl-ear-outer-colour;
    }

    &__ear-inner-colour {
        background: $pearl-ear-inner-colour;
    }
    
}