@import "./variables";

.pearl {

    &__head {
        left: 25%;
        background-color: $pearl-fur;
    }

    &__eye-color {
        background-color: $pearl-eye-color;
    }

    &__pupil-color {
        background-color: $pearl-pupil-color;
    }
    
}