@import "./variables";

.pearl {
    top: 30%;
    width: 50%;
    height: 70%;

    &__head {
        left: 50%;
        background-color: $pearl-fur;
    }

    &__eye-color {
        background-color: $pearl-eye-color;
    }

    &__pupil-color {
        background-color: $pearl-pupil-color;
    }

    &__whisker-color {
        background-color: $pearl-whisker-color;
    }
    
}