// LEXIE
$lexie-skin-color: #e7cdb0;
$lexie-neck-skin-color: #e4caac;
$lexie-head-shape: 47% 47% 60% 60% / 51% 51% 54% 54%;
$lexie-neck-shape: 0% 0% 50% 50% / 0% 0% 37% 37%;
$lexie-neck-shadow-shape: 0% 0% 50% 50% / 0% 0% 30% 30%;
$lexie-neck-shadow-color: #ceb79b;
$lexie-nose-color: #D6B896;
$lexie-mouth-color: #434330;
$lexie-mouth-shape: 25px 25px 200px 200px;
$lexie-tongue-color: #ED4A69;
$lexie-tongue-shape: 40%;
$lexie-teeth-color: #fff;
$lexie-teeth-shape: 0px 0px 40px 40px;
$lexie-ear-shape: 37% 58% 30% 70% / 26% 55% 0% 71%;
$lexie-ear-outer-color: #e7cdb0;
$lexie-ear-inner-color: #ceb79b;
$lexie-body-shape: 50% 50% 50% 50% / 34% 34% 0% 0%;
$lexie-shirt-color: pink;
$lexie-shirt-trim-width: 3px;
$lexie-shirt-trim-color: white;
$lexie-shirt-trim: $lexie-shirt-trim-width solid $lexie-shirt-trim-color;
$lexie-hair-color-dark: brown;
$lexie-hair-color-light: brown;
$lexie-hair-outside-top-shape: 40% 40% 0 0;
$lexie-hair-outside-bottom-shape: polygon(0 0, 100% 0, 100% 100%, 58% 100%, 61.5% 61%, 39% 63%, 43% 100%, 0 100%);

// CATS
$cat-eye-color: rgb(209, 95, 60);
$cat-pupil-color: rgb(82, 38, 2);
$cat-whisker-color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(211,211,211,1) 20%);
$cat-head-shape: 52% 48% 48% 52% / 42% 42% 58% 58%;
$cat-eye-color: #67633d;
$cat-eye-shape: 40% 59% 25% 62% / 27% 80% 16% 83%;
$cat-nose-color: #8d6c64;
$cat-nose-shape: 5% 6% 50% 50% / 5% 7% 93% 93%;
$cat-ear-shape: polygon(50% 0%, 8% 100%, 92% 100%);
$cat-mouth-color: rgb(245, 119, 119);
$cat-mouth-shape: polygon(50% 0%, 8% 100%, 92% 100%);
$cat-nose-mouth-joiner: #8d6c64;
$cat-ear-inner-blend-left: 48px 32px;
$cat-ear-inner-blend-right: 22px 43px;


// MARBLE
$marble-fur: black;
$marble-eye-color: $cat-eye-color;
$marble-pupil-color: #0c0a16;
$marble-whisker-color: $cat-whisker-color;
$marble-nose-color: #975f4c;
$marble-ear-outer-color: #080808;
$marble-ear-inner-color: #111111;
$marble-mouth-color: $cat-mouth-color;


// PEARL
$pearl-fur: white;
$pearl-eye-color: $cat-eye-color;
$pearl-eye-color: #958466;
$pearl-pupil-color: #15151e;
$pearl-whisker-color: $cat-whisker-color;
$pearl-nose-color: #8d6c64;
$pearl-ear-outer-color: #f8f8f8;
$pearl-ear-inner-color: #f3f3f3;
$pearl-mouth-color: $cat-mouth-color;