// LEXIE
$lexie-skin: #e7cdb0;


// CATS
$cat-eye-color: rgb(209, 95, 60);
$cat-pupil-color: rgb(82, 38, 2);


// MARBLE
$marble-fur: black;
$marble-eye-color: $cat-eye-color;
$marble-pupil-color: $cat-pupil-color;

// PEARL
$pearl-fur: white;
$pearl-eye-color: $cat-eye-color;
$pearl-pupil-color: $cat-pupil-color;
