.lexie {
  width: 100%;
  height: 100%;
}

.lexie__head {
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 48.3%;
  height: 59.3%;
  background: #e7cdb0;
  border-radius: 47% 47% 60% 60% / 51% 51% 54% 54%;
  overflow: hidden;
}

.cat {
  width: 100%;
  height: 100%;
}

.cat__head {
  top: 35%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  height: 40%;
  border-radius: 50%;
}

.cat__eyes-cont {
  width: 100%;
  height: 15%;
  top: 29%;
}

.cat__eyes-cont .cat-eye {
  width: 11%;
  height: 85%;
  border-radius: 50%;
}

.cat__eyes-cont .cat-eye-left {
  left: 25%;
}

.cat__eyes-cont .cat-eye-right {
  left: 65%;
}

.cat__eyes-cont .cat-eye-pupil {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__whiskers-cont {
  width: 90%;
  height: 30%;
  top: 45%;
  left: 5%;
}

.cat__whiskers-cont .cat-whisker-left {
  width: 50%;
  height: 100%;
  right: 50%;
}

.cat__whiskers-cont .cat-whisker-right {
  height: 100%;
  width: 50%;
  left: 50%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cat__whiskers-cont .cat-whisker {
  height: 1px;
  width: 90%;
}

.cat__whiskers-cont .whisker-top {
  top: 25%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.cat__whiskers-cont .whisker-middle {
  top: 45%;
}

.cat__whiskers-cont .whisker-bottom {
  top: 68%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.cat__nose-cont {
  width: 50%;
  height: 30%;
  left: 25%;
  top: 45%;
}

.cat__nose-cont .cat-nose {
  height: 10%;
  width: 30%;
  left: 35%;
  top: 50%;
}

.cat__nose-cont .cat-nose .cat-nose-top {
  background-color: brown;
  width: 100%;
  height: 10%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cat__nose-cont .cat-nose .cat-nose-left {
  background-color: brown;
  width: 100%;
  height: 10%;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.cat__nose-cont .cat-nose .cat-nose-right {
  background-color: brown;
  width: 100%;
  height: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.marble {
  top: 30%;
  width: 50%;
  left: 50%;
  height: 70%;
}

.marble__head {
  left: 50%;
  background-color: black;
}

.marble__eye-color {
  background-color: #d15f3c;
}

.marble__pupil-color {
  background-color: #522602;
}

.marble__whisker-color {
  background-color: grey;
}

.pearl {
  top: 30%;
  width: 50%;
  height: 70%;
}

.pearl__head {
  left: 50%;
  background-color: white;
}

.pearl__eye-color {
  background-color: #d15f3c;
}

.pearl__pupil-color {
  background-color: #522602;
}

.pearl__whisker-color {
  background-color: grey;
}

body {
  background: white;
}

.css-illustration *,
.css-illustration *:after,
.css-illustration *:before,
.css-illustration:after,
.css-illustration:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  border: solid 4px white;
  margin-top: 8%;
  width: 1000px;
  height: 1000px;
  background: #CE8DBE;
  border-radius: 50%;
  /* overflow: hidden; */
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

.layer3 {
  z-index: 3;
}

.layer4 {
  z-index: 4;
}

.layer5 {
  z-index: 5;
}

.layer6 {
  z-index: 6;
}

.layer7 {
  z-index: 7;
}
/*# sourceMappingURL=main.css.map */