.lexie {
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__head {
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 48.3%;
  height: 59.3%;
  background: #e7cdb0;
  border-radius: 47% 47% 60% 60%/51% 51% 54% 54%;
}

.lexie__neck {
  width: 20%;
  height: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 50%;
}

.lexie__neck .neck {
  height: 87%;
  width: 88%;
  border-radius: 0% 0% 50% 50%/0% 0% 37% 37%;
  background: #e4caac;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  overflow: hidden;
  border-bottom: 3px solid white;
}

.lexie__neck .neck-shadow {
  height: 37%;
  width: 100%;
  border-radius: 0% 0% 50% 50%/0% 0% 30% 30%;
  background-color: #ceb79b;
  top: 3%;
}

.lexie__nose {
  width: 18.5%;
  height: 5.5%;
  position: absolute;
  top: 58%;
  background-color: #D6B896;
  border-radius: 0px 0px 70px 70px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__mouth-cont {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 46%;
  height: 23%;
  top: 70%;
}

.lexie__mouth-cont .mouth {
  width: 200px;
  height: 100px;
  top: 6%;
  background-color: #434330;
  border-radius: 25px 25px 200px 200px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  overflow: hidden;
}

.lexie__mouth-cont .mouth__teeth {
  width: 81%;
  height: 25%;
  background-color: #fff;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 0px 0px 40px 40px;
}

.lexie__mouth-cont .mouth__tongue {
  width: 70%;
  height: 40%;
  background-color: #ED4A69;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 40%;
}

.lexie__ear-cont {
  top: 10%;
  width: 60%;
  height: 25%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__ear-cont .ear-left {
  width: 10%;
  height: 15%;
  left: 0;
}

.lexie__ear-cont .ear-right {
  width: 10%;
  height: 15%;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.lexie__ear-cont .ear-outer {
  width: 25%;
  height: 80%;
  top: 15%;
  background-color: #e7cdb0;
  border-radius: 37% 58% 30% 70%/26% 55% 0% 71%;
}

.lexie__ear-cont .ear-outer .ear-inner {
  width: 54%;
  height: 70%;
  top: 11%;
  left: 10%;
  background-color: #ceb79b;
  border-radius: 37% 58% 30% 70%/26% 55% 0% 71%;
}

.lexie__ear-cont .ear-outer .earring {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: white;
  bottom: 13%;
  left: 33%;
}

.lexie__body-cont {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.lexie__body-cont .shirt {
  width: 90%;
  height: 45%;
  border-radius: 50% 50% 50% 50%/34% 34% 0% 0%;
  background-color: pink;
  top: 59%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 3px solid white;
}

.lexie__hair-outside-cont {
  width: 85%;
  height: 110%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -7%;
}

.lexie__hair-outside-cont .hair-outside {
  width: 90%;
  height: 100%;
  border-radius: 40% 40% 0 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: brown;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 58% 100%, 61% 63%, 39% 63%, 43% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 58% 100%, 61% 63%, 39% 63%, 43% 100%, 0 100%);
}

.cat {
  width: 100%;
  height: 100%;
}

.cat__head {
  top: 38%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  height: 37%;
  border-radius: 52% 48% 48% 52%/42% 42% 58% 58%;
}

.cat__eyes-cont {
  width: 100%;
  height: 15%;
  top: 32%;
}

.cat__eyes-cont .cat-eye {
  width: 13%;
  height: 75%;
}

.cat__eyes-cont .cat-eye-left {
  left: 28%;
  border-radius: 40% 59% 25% 62%/27% 80% 16% 83%;
}

.cat__eyes-cont .cat-eye-right {
  left: 59%;
  border-radius: 40% 59% 25% 62%/27% 80% 16% 83%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.cat__eyes-cont .cat-eye-pupil {
  height: 70%;
  width: 25%;
  border-radius: 50%;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__whiskers-cont {
  width: 110%;
  height: 30%;
  top: 45%;
  left: -5%;
}

.cat__whiskers-cont .cat-whisker-left {
  width: 50%;
  height: 100%;
  right: 50%;
}

.cat__whiskers-cont .cat-whisker-right {
  height: 100%;
  width: 50%;
  left: 50%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cat__whiskers-cont .cat-whisker {
  height: 1px;
}

.cat__whiskers-cont .whisker-top {
  top: 25%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  width: 80%;
  left: -2%;
}

.cat__whiskers-cont .whisker-top-middle {
  top: 40%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  width: 82%;
  left: -8%;
}

.cat__whiskers-cont .whisker-middle {
  top: 45%;
  width: 90%;
  left: -1%;
}

.cat__whiskers-cont .whisker-bottom-middle {
  top: 55%;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  width: 88%;
  left: -7%;
}

.cat__whiskers-cont .whisker-bottom {
  top: 68%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  width: 86%;
  left: -9%;
}

.cat__nose-cont {
  width: 20%;
  height: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 45%;
}

.cat__nose-cont .cat-nose {
  height: 30%;
  width: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 50%;
  border-radius: 50%;
}

.cat__nose-cont .cat-nose:after {
  content: '';
  width: 3px;
  height: 80%;
  background-color: red;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 100%;
  background-color: #8d6c64;
}

.cat__mouth-cont {
  width: 30%;
  height: 10%;
  top: 64%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__mouth-cont .cat-mouth {
  width: 100%;
  height: 30%;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
}

.cat__ear-cont {
  height: 40%;
  width: 100%;
  top: -28%;
}

.cat__ear-cont .cat-ear-outer-left {
  left: -8%;
  width: 40%;
  height: 132%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  border-radius: 50px;
}

.cat__ear-cont .cat-ear-outer-left .cat-ear-inner {
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 20%;
}

.cat__ear-cont .cat-ear-outer-left .cat-ear-inner .cat-ear-inner-blend {
  border-radius: 48px 32px;
}

.cat__ear-cont .cat-ear-outer-right {
  right: -5%;
  width: 40%;
  height: 132%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  border-radius: 50px;
}

.cat__ear-cont .cat-ear-outer-right .cat-ear-inner {
  width: 90%;
  height: 93%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  border-radius: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 15%;
}

.cat__ear-cont .cat-ear-outer-right .cat-ear-inner .cat-ear-inner-blend {
  border-radius: 22px 43px;
}

.cat__ear-cont .cat-ear-inner-blend {
  width: 90%;
  height: 90%;
  top: 78px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.marble {
  top: 33%;
  width: 50%;
  left: 50%;
  height: 70%;
}

.marble .fur-color {
  background-color: black;
}

.marble__head {
  left: 50%;
}

.marble__eye-color {
  background-color: #67633d;
}

.marble__pupil-color {
  background-color: #0c0a16;
}

.marble__whisker-color {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, lightgray));
  background: linear-gradient(90deg, white 0%, lightgray 20%);
}

.marble__nose-color {
  background: #975f4c;
}

.marble__ear-outer-color {
  background: #080808;
}

.marble__ear-inner-color {
  background: #111111;
}

.marble__mouth-color {
  background: #f57777;
}

.pearl {
  top: 33%;
  width: 50%;
  height: 70%;
}

.pearl .fur-color {
  background-color: white;
}

.pearl__head {
  left: 50%;
}

.pearl__eye-color {
  background-color: #958466;
}

.pearl__pupil-color {
  background-color: #15151e;
}

.pearl__whisker-color {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, lightgray));
  background: linear-gradient(90deg, white 0%, lightgray 20%);
}

.pearl__nose-color {
  background: #8d6c64;
}

.pearl__ear-outer-color {
  background: #f8f8f8;
}

.pearl__ear-inner-color {
  background: #f3f3f3;
}

.pearl__mouth-color {
  background: #f57777;
}

body {
  background: white;
}

.css-illustration *,
.css-illustration *:after,
.css-illustration *:before,
.css-illustration:after,
.css-illustration:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  border: solid 4px white;
  margin-top: 8%;
  width: 1000px;
  height: 1000px;
  background-color: #CE8DBE;
  border-radius: 50%;
}

.box::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 150px 0px 50px white;
          box-shadow: 0px 150px 0px 50px white;
  z-index: 3;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

.layer3 {
  z-index: 3;
}

.layer4 {
  z-index: 4;
}

.layer5 {
  z-index: 5;
}

.layer6 {
  z-index: 6;
}

.layer7 {
  z-index: 7;
}
/*# sourceMappingURL=main.css.map */