.lexie {
  width: 100%;
  height: 100%;
}

.lexie__head {
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 48.3%;
  height: 59.3%;
  background: #e7cdb0;
  border-radius: 47% 47% 60% 60% / 51% 51% 54% 54%;
  overflow: hidden;
}

.cat {
  width: 100%;
  height: 100%;
  border: 2px solid blue;
}

.cat__head {
  top: 38%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 61%;
  height: 37%;
  border-radius: 52% 48% 48% 52%/42% 42% 58% 58%;
}

.cat__eyes-cont {
  width: 100%;
  height: 15%;
  top: 32%;
}

.cat__eyes-cont .cat-eye {
  width: 13%;
  height: 75%;
}

.cat__eyes-cont .cat-eye-left {
  left: 28%;
  border-radius: 40% 59% 25% 62%/27% 80% 16% 83%;
}

.cat__eyes-cont .cat-eye-right {
  left: 59%;
  border-radius: 40% 59% 25% 62%/27% 80% 16% 83%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.cat__eyes-cont .cat-eye-pupil {
  height: 70%;
  width: 25%;
  border-radius: 50%;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__whiskers-cont {
  width: 110%;
  height: 30%;
  top: 45%;
  left: -5%;
}

.cat__whiskers-cont .cat-whisker-left {
  width: 50%;
  height: 100%;
  right: 50%;
}

.cat__whiskers-cont .cat-whisker-right {
  height: 100%;
  width: 50%;
  left: 50%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cat__whiskers-cont .cat-whisker {
  height: 1px;
}

.cat__whiskers-cont .whisker-top {
  top: 25%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  width: 80%;
  left: -2%;
}

.cat__whiskers-cont .whisker-top-middle {
  top: 40%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  width: 82%;
  left: -8%;
}

.cat__whiskers-cont .whisker-middle {
  top: 45%;
  width: 90%;
  left: -1%;
}

.cat__whiskers-cont .whisker-bottom-middle {
  top: 55%;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  width: 88%;
  left: -7%;
}

.cat__whiskers-cont .whisker-bottom {
  top: 68%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  width: 86%;
  left: -9%;
}

.cat__nose-cont {
  width: 50%;
  height: 50%;
  left: 25%;
  top: 45%;
}

.cat__nose-cont .cat-nose {
  height: 10%;
  width: 15%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 25%;
  border-radius: 50%;
}

.cat__ear-cont {
  height: 40%;
  width: 100%;
  top: -28%;
}

.cat__ear-cont .cat-ear-outer-left {
  left: -8%;
  width: 40%;
  height: 132%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  border-radius: 50px;
}

.cat__ear-cont .cat-ear-outer-left .cat-ear-inner {
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 20%;
}

.cat__ear-cont .cat-ear-outer-right {
  right: -5%;
  width: 40%;
  height: 132%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  border-radius: 50px;
}

.cat__ear-cont .cat-ear-inner {
  width: 90%;
  height: 93%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  border-radius: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 15%;
}

.cat__ear-cont .cat-ear-inner .cat-ear-inner-blend {
  width: 90%;
  height: 90%;
  top: 78px;
  border-radius: 37px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__mouth-cont {
  width: 30%;
  height: 10%;
  border: 1px solid red;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.marble {
  top: 33%;
  width: 50%;
  left: 50%;
  height: 70%;
}

.marble .fur-color {
  background-color: black;
}

.marble__head {
  left: 50%;
}

.marble__eye-color {
  background-color: #67633d;
}

.marble__pupil-color {
  background-color: #0c0a16;
}

.marble__whisker-color {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, lightgray));
  background: linear-gradient(90deg, white 0%, lightgray 20%);
}

.marble__nose-color {
  background: #975f4c;
}

.marble__ear-outer-color {
  background: #080808;
}

.marble__ear-inner-color {
  background: #111111;
}

.marble__mouth-color {
  background: red;
}

.pearl {
  top: 33%;
  width: 50%;
  height: 70%;
}

.pearl .fur-color {
  background-color: white;
}

.pearl__head {
  left: 50%;
}

.pearl__eye-color {
  background-color: #958466;
}

.pearl__pupil-color {
  background-color: #15151e;
}

.pearl__whisker-color {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, lightgray));
  background: linear-gradient(90deg, white 0%, lightgray 20%);
}

.pearl__nose-color {
  background: #8d6c64;
}

.pearl__ear-outer-color {
  background: #f8f8f8;
}

.pearl__ear-inner-color {
  background: #f3f3f3;
}

.pearl__mouth-color {
  background: red;
}

body {
  background: white;
}

.css-illustration *,
.css-illustration *:after,
.css-illustration *:before,
.css-illustration:after,
.css-illustration:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  border: solid 4px white;
  margin-top: 8%;
  width: 1000px;
  height: 1000px;
  background: #CE8DBE;
  border-radius: 50%;
  /* overflow: hidden; */
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

.layer3 {
  z-index: 3;
}

.layer4 {
  z-index: 4;
}

.layer5 {
  z-index: 5;
}

.layer6 {
  z-index: 6;
}

.layer7 {
  z-index: 7;
}
/*# sourceMappingURL=main.css.map */