@import "variables.scss";

.lexie {
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    
    &__head {
        top: -5%;
        left: 50%;
        transform: translate(-50%);
        width: 48.3%;
        height: 59.3%;
        background: $lexie-skin-color;
        border-radius: $lexie-head-shape;
        // overflow: hidden;
    }

    &__eye-brows-cont {
        width: 100%;
        height: 55%;
        top: 7%;
        .eye-brow-cont {
            width: 30%;
            height: 45%;
            top: 30%;
            &-left {
                transform: rotate(3deg);
                left: 12%;
            }
            &-right {
                right: 12%;
                transform: rotate(-3deg) rotateY(180deg);
            }
            .eye-brow-background {
                background-color: $lexie-eye-brow-color;
                width: 100%;
                height: 60%;
                border-radius: $lexie-eye-brow-shape;
                left: 50%;
                transform: translate(-50%);
            }
            .eye-brow-foreground {
                background-color: $lexie-skin-color;
                width: 115%;
                height: 80%;
                border-radius: $lexie-eye-brow-shape;
                left: -11%;
                // transform: translate(-50%);
                top: 9%;
            }
        }
    }

    &__eyes-cont {
        width: 100%;
        height: 50%;
        left: 50%;
        transform: translate(-50%);
        top: 21%;
        .eye-cont {
            width: 30%;
            height: 40%;
            top: 18%;
            overflow: hidden;
            &-left {
                left: 13%;
            }
            &-right {
                right: 13%;
            }
            .eye-background {
                background: rgb(255,255,255);
                background: radial-gradient(circle, rgba(255,255,255,1) 21%, rgba(240,240,240,1) 78%);
                width: 70%;
                height: 90%;
                border-radius: $lexie-eye-shape;
                left: 50%;
                transform: translate(-50%);
                bottom: 0;
            }
            .eye-foreground {
                background-color: $lexie-skin-color;
                width: 100%;
                height: 70%;
                border-radius: 50%;
                left: 50%;
                transform: translate(-50%);
                bottom: -60%;
            }
            .iris {
                width: 50px;
                height: 65px;
                border-radius: 50%;
                background-color: $lexie-iris-color;
                left: 50%;
                bottom: 8%;
                transform: translate(-50%);
                box-shadow: inset 0px 0px 25px 7px rgba(0, 0, 0, 0.514);
                overflow: hidden;

                .pupil {
                    width: 20px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.705);
                    box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.171);
                    left: 50%;
                    transform: translate(-50%);
                    top: 13%;
                    &-shine {
                        width: 18%;
                        height: 28%;
                        background: rgb(255,255,255);
                        background: radial-gradient(circle, rgba(255,255,255,1) 21%, rgba(240,240,240,1) 78%);
                        top: 0;
                        left: 18%;
                        border-radius: 50%;
                    }
                }
            }
            .eye-lash {
                width: 35px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
                &-left {
                    transform: rotate(-5deg);
                    .eye-lash-foreground {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $lexie-skin-color;
                        bottom: 11%;
                        left: -2%;
                    }
                    &-1 {
                        left: 10%;
                        bottom: 5%;
                    }
                    &-2 {
                        bottom: 10%;
                        left: 12%;
                    }
                }
                &-right {
                    transform: rotate(5deg);
                    .eye-lash-foreground {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $lexie-skin-color;
                        bottom: 11%;
                        right: -2%;
                    }
                    &-1 {
                        right: 10%;
                        bottom: 5%;
                    }
                    &-2 {
                        bottom: 10%;
                        right: 12%;
                    }
                }
            }
        }
    }

    &__hair-forehead-cont {
        width: 100%;
        height: 30%;
        .hair-forehead {

            &-middle {
                left: 50%;
                transform: translate(-50%);
                height: 40%;
                width: 80%;
                background-color: $lexie-hair-color;
            }
            &-top {
                height: 49%;
                background-color: $lexie-skin-color;
                border-radius: 70% 40% 0 0;
                top: 16%;
                &-left {
                    width: 43%;
                    left: 11%;
                    transform: rotate(-5deg);
                }
                &-right {
                    transform: rotate(5deg) rotateY(180deg);
                    right: 11%;
                    width: 43%;
                }
            }
        }
    }

    .hair-outside-svg {
        width: 95%;
        height: 100%;
        left: 49%;
        transform: translate(-50%);
        top: -10%;
    }

    &__neck {
        width: 20%;
        height: 20%;
        left: 50%;
        transform: translate(-50%);
        top: 50%;

        .neck {
            height: 87%;
            width: 88%;
            border-radius: $lexie-neck-shape;
            background: $lexie-neck-skin-color;
            transform: translate(-50%);
            left: 50%;
            overflow: hidden;
        }
        
        .neck-shadow {
            height: 37%;
            width: 100%;
            border-radius: $lexie-neck-shadow-shape;
            background-color: $lexie-neck-shadow-color;
            top: 3%;
        }
          
    }

    &__nose {
        width: 18.5%;
        height: 5.5%;
        position: absolute;
        top: 58%;
        background-color: $lexie-nose-color;
        border-radius: 0px 0px 70px 70px;
        left: 50%;
        transform: translate(-50%);
    }

    &__mouth-cont {
        left: 50%;
        transform: translate(-50%);
        width: 46%;
        height: 23%;
        top: 70%;

        .mouth {
            width: 200px;
            height: 100px;
            top: 6%;
            background-color: $lexie-mouth-color;
            border-radius: $lexie-mouth-shape;
            left: 50%;
            transform: translate(-50%);
            overflow: hidden;

            &__teeth {
                width: 81%;
                height: 25%;
                background-color: $lexie-teeth-color;
                top: 0%;
                left: 50%;
                transform: translate(-50%);
                border-radius: $lexie-teeth-shape;
            }

            &__tongue {
                width: 70%;
                height: 40%;
                background-color: $lexie-tongue-color;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%);
                border-radius: $lexie-tongue-shape;
            }
        }
    }

    &__ear-cont {
        top: 10%;
        width: 60%;
        height: 25%;
        left: 50%;
        transform: translate(-50%);

        .ear-left {
            width: 10%;
            height: 15%;
            left: 0;
        }

        .ear-right {
            width: 10%;
            height: 15%;
            right: 0;
            transform: rotateY(180deg);
        }

        .ear-outer {
            width: 25%;
            height: 80%;
            top: 15%;
            background-color: $lexie-ear-outer-color;
            border-radius: $lexie-ear-shape;
            // box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.192);

            .ear-inner {
                width: 54%;
                height: 70%;
                top: 11%;
                left: 10%;
                background-color: $lexie-ear-inner-color;
                border-radius: $lexie-ear-shape;
            }

            .earring {
                width: 20%;
                height: 20%;
                border-radius: 50%;
                background-color: transparent;
                border: 3px solid white;
                bottom: -5%;
                left: 26%;
            }
        }
    }

    &__body-cont {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;

        .shirt-cont {
            width: 90%;
            height: 45%;
            border-radius: $lexie-body-shape;
            background-color: $lexie-shirt-color;
            top: 59%;
            left: 50%;
            transform: translate(-50%);
            border: $lexie-shirt-trim;
            overflow: hidden;
            // box-shadow: 0px -2px 15px 10px rgba(0, 0, 0, 0.274);

            .shirt-neck {
                width: 35%;
                height: 65%;
                border-radius: 50%;
                margin-top: -8%;
                background-color: $lexie-skin-color;
                left: 50%;
                transform: translate(-50%);
                border: $lexie-shirt-trim;
                border: $lexie-shirt-trim;

                // &-necklace {
                //     border: 3px solid rgb(248, 248, 248);
                //     border-radius: 48%;
                //     width: 65%;
                //     height: 150%;
                //     left: 50%;
                //     transform: translate(-50%);
                //     top: -60%;
                // }
            }
        }
    }

    .cat__body-cont {
        width: 100%;
        height: 100%;

        .cat__body {
            width: 40%;
            height: 33%;
            border-radius: 50%;
            top: 65%;
            overflow: hidden;
            box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.158);

            &.marble__body {
                background-color: $marble-fur-alt;
                left: 61%;
                border: 2px solid $marble-fur-border;
                .white-fur-head-bottom {
                    width: 55%;
                    height: 70%;
                    border-radius: 50%;
                    left: 10%;
                    top: 40%;
                    background: rgb(240, 240, 240);
                    box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.13);
                    // background: radial-gradient(circle, rgb(255, 253, 251) 3%, rgba(20, 20, 20, 0.8) 50%);
                }

                .tan-fur-body-back {
                    width: 10%;
                    height: 30%;
                    top: -5%;
                    background-color: $marble-fur-tertiary;
                    right: 23%;
                    transform: rotate(-50deg);
                    border-radius: 50%;
                    box-shadow: inset 0px 0px 20px 7px rgba(0, 0, 0, 0.788);
                }
            }

            &.pearl__body {
                background-color: $pearl-fur-alt;
                left: -1%;
                border: 2px solid $pearl-fur-border;
                
                .fur-color-body-top {
                    width: 55%;
                    height: 35%;
                    border-radius: 50%;
                    top: 20%;
                    left: -15%;
                    background: rgb(143,94,54);
                    background: radial-gradient(circle, rgba(143,94,54,1) 3%, rgba(161,117,87,1) 31%, rgba(236,236,236,1) 60%);
                }

                .fur-color-body-bottom {
                    width: 50%;
                    height: 20%;
                    border-radius: 50%;
                    top: 0%;
                    left: 10%;
                    background: rgb(38,32,32);
                    background: linear-gradient(164deg, rgb(44, 31, 22) 29%, rgba(255,255,255,1) 83%);
                }

                .fur-color-head-bottom {
                    width: 20%;
                    height: 40%;
                    border-radius: 50%;
                    right: 22%;
                    top: 70%;
                    background: rgb(161,117,87);
                    box-shadow: inset 0px 0px 20px 20px rgba(255, 255, 255, 0.705);
                    // background: radial-gradient(circle, rgb(99, 67, 46) 3%, rgb(141, 98, 69) 10%, rgba(236, 236, 236, 0.8) 50%);
                }
            }
        }
    }

}


