@import "variables.scss";

.marble {
    top: 33%;
    width: 50%;
    left: 50%;
    height: 70%;

    .fur-color {
        background-color: $marble-fur;
        &__alt {
            background-color: $marble-fur-alt;
        }
    }

    &__head {
        left: 50%;
        border: 2px solid $marble-fur-border;
        &-copy {
            width: 100%;
            height: 100%;
            border-radius: $cat-head-shape;
            background-color: transparent;
            overflow: hidden;
        
            &-white-fur {
                width: 66%;
                height: 40%;
                border-radius: 54% 50% 0% 0% / 47% 80% 0% 0% ;
                background-color: $marble-fur-secondary;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%);
            }
            &-tan-fur-nose {
                width: 16%;
                height: 95%;
                bottom: 0;
                background-color: $marble-fur-tertiary;
                left: 50%;
                transform: translate(-50%);
                border-radius: 50%;
                box-shadow: $marble-fur-tertiary-blend;
            }

            &-tan-fur-right-eye {
                width: 15%;
                height: 55%;
                bottom: 9%;
                background-color: $marble-fur-tertiary;
                left: 60%;
                transform: rotate(64deg);
                border-radius: 50%;
                box-shadow: $marble-fur-tertiary-blend;
            }

            &-tan-fur-right-ear {
                width: 25%;
                height: 60%;
                top: -47%;
                background-color: $marble-fur-tertiary;
                left: 48%;
                transform: rotate(-10deg);
                border-radius: 50%;
                box-shadow: $marble-fur-tertiary-blend;
            }
        }
    }

    &__eye {
        background-color: $marble-eye-color;
    }

    &__pupil-color {
        background-color: $marble-pupil-color;
    }

    &__whisker-color {
        background: $marble-whisker-color;
    }

    &__nose {
        background: $marble-nose-color;
        border: $marble-nose-border;
    }

    &__ear-outer {
        background: $marble-ear-outer-color;
        &.cat-ear-outer-left .cat-ear-inner {
            box-shadow: inset 0px 20px 20px 8px rgba(0, 0, 0, 0.76);
        }
        &.cat-ear-outer-right .cat-ear-inner {
            box-shadow: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
        }
        .tan-fur-ear-outer {
            width: 70%;
            height: 95%;
            top: 0;
            border-radius: 50%;
            background-color: $marble-fur-tertiary;
            box-shadow: $marble-fur-tertiary-blend;
        }
    }

    &__ear-inner {
        background: $marble-ear-inner-color;
    }

    &__mouth {
        background: $marble-mouth-color;
    }
}