@import "variables.scss";

.marble {
    top: 33%;
    width: 50%;
    left: 50%;
    height: 70%;

    .fur-color {
        background-color: $marble-fur;
    }

    .fur-color-alt {
        background-color: $marble-fur-alt;
    }

    &__head {
        left: 50%;
    }

    &__eye-color {
        background-color: $marble-eye-color;
    }

    &__pupil-color {
        background-color: $marble-pupil-color;
    }

    &__whisker-color {
        background: $marble-whisker-color;
    }

    &__nose-color {
        background: $marble-nose-color;
    }

    &__ear-outer-color {
        background: $marble-ear-outer-color;
    }

    &__ear-inner-color {
        background: $marble-ear-inner-color;
    }

    &__mouth-color {
        background: $marble-mouth-color;
    }
}