@import "variables.scss";

.marble {
    top: 33%;
    width: 50%;
    left: 50%;
    height: 70%;

    .fur-color {
        background-color: $marble-fur;
        &__alt {
            background-color: $marble-fur-alt;
        }
    }

    &__head {
        left: 50%;
        border: 2px solid $marble-fur-border;
        &-copy {
            width: 100%;
            height: 100%;
            border-radius: $cat-head-shape;
            background-color: transparent;
            overflow: hidden;
        
            &-white-fur {
                width: 66%;
                height: 50%;
                // border-radius: 50% ;
                border-radius: 54% 50% 0% 0% / 47% 80% 0% 0% ;
                background-color: rgb(250, 248, 248);
                bottom: -4%;
                left: 50%;
                transform: translate(-50%);
                // box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.199);
            }
            &-tan-fur-nose {
    
            }
        }

    }

    &__eye-color {
        background-color: $marble-eye-color;
    }

    &__pupil-color {
        background-color: $marble-pupil-color;
    }

    &__whisker-color {
        background: $marble-whisker-color;
    }

    &__nose-color {
        background: $marble-nose-color;
    }

    &__ear-outer-color {
        background: $marble-ear-outer-color;
    }

    &__ear-inner-color {
        background: $marble-ear-inner-color;
    }

    &__mouth-color {
        background: $marble-mouth-color;
    }
}