@import "./variables";

.pearl {
    top: 33%;
    width: 50%;
    height: 70%;

    .fur-color {
        background-color: $pearl-fur;
    }

    &__head {
        left: 50%;
        border: 2px solid $pearl-fur-border;
    }

    &__eye-color {
        background-color: $pearl-eye-color;
    }

    &__pupil-color {
        background-color: $pearl-pupil-color;
    }

    &__whisker-color {
        background: $pearl-whisker-color;
    }

    &__nose-color {
        background: $pearl-nose-color;
    }

    &__ear-outer-color {
        background: $pearl-ear-outer-color;
    }

    &__ear-inner-color {
        background: $pearl-ear-inner-color;
    }

    &__mouth-color {
        background: $pearl-mouth-color;
    }
}