// LEXIE
$lexie-skin-color: #e7cdb0;
$lexie-skin-color-border: #d8c1a6;
$lexie-neck-skin-color: #e4caac;
$lexie-head-shape: 45% 45% 60% 60% / 60% 60% 54% 54%;
$lexie-neck-shape: 0% 0% 50% 50% / 0% 0% 37% 37%;
$lexie-neck-shadow-shape: 0% 0% 50% 50% / 0% 0% 30% 30%;
$lexie-neck-shadow-color: #ceb79b;
$lexie-nose-color: #D6B896;
$lexie-mouth-color: #434330;
$lexie-mouth-shape: 25px 25px 200px 200px;
$lexie-tongue-color: #ED4A69;
$lexie-tongue-shape: 40%;
$lexie-teeth-color: #fff;
$lexie-teeth-shape: 0px 0px 40px 40px;
$lexie-ear-shape: 37% 58% 30% 70% / 26% 55% 0% 71%;
$lexie-ear-outer-color: #e7cdb0;
$lexie-ear-inner-color: #ceb79b;
$lexie-body-shape: 50% 50% 50% 50% / 34% 34% 0% 0%;
// $lexie-shirt-color: pink;
$lexie-shirt-color: rgb(196, 196, 196);
$lexie-shirt-trim-width: 3px;
$lexie-shirt-trim-color: rgb(158, 158, 158);
$lexie-shirt-trim: $lexie-shirt-trim-width solid $lexie-shirt-trim-color;
$lexie-shirt-trim: 5px solid $lexie-shirt-trim-color;
$lexie-hair-color: #724C20;
// $lexie-eye-brow-shape: 100% 67% 51% 0% / 75% 34% 0% 100%;
$lexie-eye-brow-shape: 99% 97% 0% 0% / 100% 35% 100% 14%;
$lexie-eye-brow-color: #684b2a;
$lexie-eye-shape: 100% 100% 37% 37% / 100% 100% 100% 100%;
$lexie-iris-color: rgb(21, 97, 21);

// CATS
$cat-eye-color: rgb(209, 95, 60);
$cat-pupil-color: rgb(82, 38, 2);
$cat-whisker-color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(211,211,211,1) 20%);
// $cat-head-shape: 52% 48% 48% 52% / 42% 42% 58% 58%;
$cat-head-shape: 51% 48% 54% 54% / 29% 29% 71% 71%;
$cat-eye-color: #67633d;
$cat-eye-shape: 40% 59% 25% 62% / 27% 80% 16% 83%;
$cat-nose-color: #8d6c64;
$cat-nose-shape: 5% 6% 50% 50% / 5% 7% 93% 93%;
$cat-ear-shape: polygon(50% 0%, 8% 100%, 92% 100%);
$cat-mouth-color: rgb(245, 119, 119);
// $cat-mouth-shape: polygon(50% 0%, 8% 100%, 92% 100%);
// $cat-mouth-shape: 65% 65% 54% 54% / 71% 71% 45% 45%;
$cat-mouth-shape: 65% 65% 67% 67% / 0% 0% 87% 100%;
$cat-nose-mouth-joiner: #8d6c64;
$cat-ear-inner-blend-left: 48px 32px;
$cat-ear-inner-blend-right: 22px 43px;


// MARBLE
$marble-fur: rgb(14, 14, 14);
$marble-fur-alt: rgb(19, 19, 19);
$marble-fur-border: rgb(0, 0, 0);
$marble-fur-secondary: rgb(250, 248, 248);
$marble-fur-tertiary: rgb(226, 176, 110);
$marble-fur-tertiary-blend: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
$marble-eye-color: $cat-eye-color;
$marble-pupil-color: #0c0a16;
$marble-whisker-color: $cat-whisker-color;
$marble-nose-color: rgb(182, 124, 49);
$marble-nose-border: 1px solid brown;
$marble-ear-outer-color: #080808;
$marble-ear-inner-color: #111111;
$marble-mouth-color: $cat-mouth-color;


// PEARL
$pearl-fur: rgb(241, 241, 241);
$pearl-fur-alt: #ececec;
$pearl-fur-border: rgb(255, 255, 255);
$pearl-fur-secondary: #A17557;
$pearl-fur-tertiary: #120605;
$pearl-eye-color: $cat-eye-color;
$pearl-eye-color: #958466;
$pearl-pupil-color: #15151e;
$pearl-whisker-color: $cat-whisker-color;
$pearl-nose-color: #8d6c64;
$pearl-ear-outer-color: #f8f8f8;
$pearl-ear-inner-color: #f3f3f3;
$pearl-ear-inner-color-blend: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
$pearl-mouth-color: $cat-mouth-color;
