.lexie {
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__head {
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 48.3%;
  height: 59.3%;
  background: #e7cdb0;
  border-radius: 47% 47% 60% 60%/60% 60% 54% 54%;
}

.lexie__eye-brows-cont {
  width: 100%;
  height: 55%;
  top: 7%;
}

.lexie__eye-brows-cont .eye-brow-cont {
  width: 30%;
  height: 45%;
  top: 30%;
}

.lexie__eye-brows-cont .eye-brow-cont-left {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  left: 12%;
}

.lexie__eye-brows-cont .eye-brow-cont-right {
  right: 12%;
  -webkit-transform: rotate(-3deg) rotateY(180deg);
          transform: rotate(-3deg) rotateY(180deg);
}

.lexie__eye-brows-cont .eye-brow-cont .eye-brow-background {
  background-color: #684b2a;
  width: 100%;
  height: 60%;
  border-radius: 99% 97% 0% 0%/100% 35% 100% 14%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__eye-brows-cont .eye-brow-cont .eye-brow-foreground {
  background-color: #e7cdb0;
  width: 115%;
  height: 80%;
  border-radius: 99% 97% 0% 0%/100% 35% 100% 14%;
  left: -11%;
  top: 9%;
}

.lexie__eyes-cont {
  width: 100%;
  height: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 21%;
}

.lexie__eyes-cont .eye-cont {
  width: 30%;
  height: 40%;
  top: 18%;
  overflow: hidden;
}

.lexie__eyes-cont .eye-cont-left {
  left: 13%;
}

.lexie__eyes-cont .eye-cont-right {
  right: 13%;
}

.lexie__eyes-cont .eye-cont .eye-background {
  background: white;
  background: radial-gradient(circle, white 21%, #f0f0f0 78%);
  width: 70%;
  height: 90%;
  border-radius: 100% 100% 37% 37%/100% 100% 100% 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
}

.lexie__eyes-cont .eye-cont .eye-foreground {
  background-color: #e7cdb0;
  width: 100%;
  height: 70%;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: -60%;
}

.lexie__eyes-cont .eye-cont .iris {
  width: 50px;
  height: 65px;
  border-radius: 50%;
  background-color: #156115;
  left: 50%;
  bottom: 8%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-shadow: inset 0px 0px 25px 7px rgba(0, 0, 0, 0.514);
          box-shadow: inset 0px 0px 25px 7px rgba(0, 0, 0, 0.514);
  overflow: hidden;
}

.lexie__eyes-cont .eye-cont .iris .pupil {
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.849);
  left: 60%;
  top: -5%;
}

.lexie__eyes-cont .eye-cont .iris .pupil-shine {
  width: 30%;
  height: 40%;
  background: white;
  background: radial-gradient(circle, white 21%, #f0f0f0 78%);
  top: -4%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__eyes-cont .eye-cont .eye-lash {
  width: 15px;
  height: 2px;
  background-color: black;
}

.lexie__eyes-cont .eye-cont .eye-lash-left-1 {
  left: 10%;
  top: 25%;
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
}

.lexie__eyes-cont .eye-cont .eye-lash-left-2 {
  top: 20%;
  left: 15%;
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
}

.lexie__eyes-cont .eye-cont .eye-lash-left-3 {
  top: 13%;
  left: 20%;
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
}

.lexie__eyes-cont .eye-cont .eye-lash-right-1 {
  right: 10%;
  top: 25%;
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
}

.lexie__eyes-cont .eye-cont .eye-lash-right-2 {
  top: 20%;
  right: 15%;
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
}

.lexie__eyes-cont .eye-cont .eye-lash-right-3 {
  top: 13%;
  right: 20%;
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
}

.lexie__hair-forehead-cont {
  width: 100%;
  height: 30%;
}

.lexie__hair-forehead-cont .hair-forehead-middle {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 35%;
  width: 80%;
  background-color: #724C20;
}

.lexie__hair-forehead-cont .hair-forehead-top {
  height: 49%;
  background-color: #e7cdb0;
  border-radius: 70% 40% 0 0;
  top: 16%;
  margin-left: 0;
}

.lexie__hair-forehead-cont .hair-forehead-top-left {
  width: 43%;
  left: 11.5%;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.lexie__hair-forehead-cont .hair-forehead-top-right {
  -webkit-transform: rotate(4deg) rotateY(180deg);
          transform: rotate(4deg) rotateY(180deg);
  right: 11.5%;
  width: 43%;
}

.lexie .hair-outside-svg {
  width: 95%;
  height: 100%;
  left: 49%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -10%;
}

.lexie__neck {
  width: 20%;
  height: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 50%;
}

.lexie__neck .neck {
  height: 87%;
  width: 88%;
  border-radius: 0% 0% 50% 50%/0% 0% 37% 37%;
  background: #e4caac;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  overflow: hidden;
}

.lexie__neck .neck-shadow {
  height: 37%;
  width: 100%;
  border-radius: 0% 0% 50% 50%/0% 0% 30% 30%;
  background-color: #ceb79b;
  top: 3%;
}

.lexie__nose {
  width: 18.5%;
  height: 5.5%;
  position: absolute;
  top: 58%;
  background-color: #D6B896;
  border-radius: 0px 0px 70px 70px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__mouth-cont {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 46%;
  height: 23%;
  top: 70%;
}

.lexie__mouth-cont .mouth {
  width: 200px;
  height: 100px;
  top: 6%;
  background-color: #434330;
  border-radius: 25px 25px 200px 200px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  overflow: hidden;
}

.lexie__mouth-cont .mouth__teeth {
  width: 81%;
  height: 25%;
  background-color: #fff;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 0px 0px 40px 40px;
}

.lexie__mouth-cont .mouth__tongue {
  width: 70%;
  height: 40%;
  background-color: #ED4A69;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 40%;
}

.lexie__ear-cont {
  top: 10%;
  width: 60%;
  height: 25%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.lexie__ear-cont .ear-left {
  width: 10%;
  height: 15%;
  left: 0;
}

.lexie__ear-cont .ear-right {
  width: 10%;
  height: 15%;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.lexie__ear-cont .ear-outer {
  width: 25%;
  height: 80%;
  top: 15%;
  background-color: #e7cdb0;
  border-radius: 37% 58% 30% 70%/26% 55% 0% 71%;
}

.lexie__ear-cont .ear-outer .ear-inner {
  width: 54%;
  height: 70%;
  top: 11%;
  left: 10%;
  background-color: #ceb79b;
  border-radius: 37% 58% 30% 70%/26% 55% 0% 71%;
}

.lexie__ear-cont .ear-outer .earring {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid white;
  bottom: -5%;
  left: 26%;
}

.lexie__body-cont {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.lexie__body-cont .shirt-cont {
  width: 90%;
  height: 45%;
  border-radius: 50% 50% 50% 50%/34% 34% 0% 0%;
  background-color: #c4c4c4;
  top: 59%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 5px solid #9e9e9e;
  overflow: hidden;
}

.lexie__body-cont .shirt-cont .shirt-neck {
  width: 35%;
  height: 65%;
  border-radius: 50%;
  margin-top: -8%;
  background-color: #e7cdb0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 5px solid #9e9e9e;
  border: 5px solid #9e9e9e;
}

.lexie .cat__body-cont {
  width: 100%;
  height: 100%;
}

.lexie .cat__body-cont .cat__body {
  width: 40%;
  height: 33%;
  border-radius: 50%;
  top: 65%;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.158);
          box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.158);
}

.lexie .cat__body-cont .cat__body.marble__body {
  background-color: #131313;
  left: 61%;
  border: 2px solid black;
}

.lexie .cat__body-cont .cat__body.marble__body .white-fur-head-bottom {
  width: 55%;
  height: 70%;
  border-radius: 50%;
  left: 10%;
  top: 40%;
  background: #f0f0f0;
  -webkit-box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.13);
          box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.13);
}

.lexie .cat__body-cont .cat__body.marble__body .tan-fur-body-back {
  width: 10%;
  height: 30%;
  top: -5%;
  background-color: #e2b06e;
  right: 23%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 20px 7px rgba(0, 0, 0, 0.788);
          box-shadow: inset 0px 0px 20px 7px rgba(0, 0, 0, 0.788);
}

.lexie .cat__body-cont .cat__body.pearl__body {
  background-color: #ececec;
  left: -1%;
  border: 2px solid white;
}

.lexie .cat__body-cont .cat__body.pearl__body .fur-color-body-top {
  width: 55%;
  height: 35%;
  border-radius: 50%;
  top: 20%;
  left: -15%;
  background: #8f5e36;
  background: radial-gradient(circle, #8f5e36 3%, #a17557 31%, #ececec 60%);
}

.lexie .cat__body-cont .cat__body.pearl__body .fur-color-body-bottom {
  width: 50%;
  height: 20%;
  border-radius: 50%;
  top: 0%;
  left: 10%;
  background: #262020;
  background: linear-gradient(164deg, #2c1f16 29%, white 83%);
}

.lexie .cat__body-cont .cat__body.pearl__body .fur-color-head-bottom {
  width: 20%;
  height: 40%;
  border-radius: 50%;
  right: 22%;
  top: 70%;
  background: #a17557;
  -webkit-box-shadow: inset 0px 0px 20px 20px rgba(255, 255, 255, 0.705);
          box-shadow: inset 0px 0px 20px 20px rgba(255, 255, 255, 0.705);
}

.cat {
  width: 100%;
  height: 100%;
}

.cat__head {
  top: 43%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
  height: 35%;
  border-radius: 51% 48% 54% 54%/29% 29% 71% 71%;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.144);
          box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.144);
}

.cat__eyes-cont {
  width: 50%;
  height: 20%;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__eyes-cont .cat-eye {
  width: 32%;
  height: 76%;
}

.cat__eyes-cont .cat-eye-left {
  left: 0;
  border-radius: 40% 59% 25% 62%/27% 80% 16% 83%;
}

.cat__eyes-cont .cat-eye-right {
  right: 0;
  border-radius: 40% 59% 25% 62%/27% 80% 16% 83%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.cat__eyes-cont .cat-eye-pupil {
  height: 64%;
  width: 22%;
  border-radius: 50%;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__eyes-cont .cat-eye-pupil .pupil-shine {
  width: 50%;
  height: 22%;
  border-radius: 50%;
  background-color: white;
  left: 0%;
  top: -5%;
}

.cat__whiskers-cont {
  width: 120%;
  height: 30%;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__whiskers-cont .cat-whisker-left {
  width: 50%;
  height: 100%;
  right: 50%;
}

.cat__whiskers-cont .cat-whisker-right {
  height: 100%;
  width: 50%;
  left: 50%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cat__whiskers-cont .cat-whisker {
  height: 1.5%;
}

.cat__whiskers-cont .cat-whisker .cat-whisker-dot {
  width: 2px;
  height: 2px;
  right: 0;
  top: -50%;
  border-radius: 50%;
  background-color: grey;
}

.cat__whiskers-cont .whisker-top {
  top: 25%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  width: 85%;
  left: -2%;
}

.cat__whiskers-cont .whisker-top-middle {
  top: 40%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  width: 87%;
  left: -8%;
}

.cat__whiskers-cont .whisker-middle {
  top: 45%;
  width: 95%;
  left: -1%;
}

.cat__whiskers-cont .whisker-bottom-middle {
  top: 55%;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  width: 93%;
  left: -7%;
}

.cat__whiskers-cont .whisker-bottom {
  top: 68%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  width: 91%;
  left: -9%;
}

.cat__nose-cont {
  width: 20%;
  height: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 45%;
}

.cat__nose-cont .cat-nose {
  width: 80%;
  height: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 50%;
  border-radius: 50%;
}

.cat__nose-cont .cat-nose:after {
  content: '';
  width: 1.5px;
  height: 70%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 100%;
  background: #4e4e4e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, #4e4e4e), color-stop(78%, #b4b0b0));
  background: linear-gradient(180deg, #4e4e4e 21%, #b4b0b0 78%);
}

.cat__mouth-cont {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__mouth-cont .cat-mouth {
  width: 45%;
  height: 25%;
  border-radius: 65% 65% 67% 67%/0% 0% 87% 100%;
  top: 24%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.438);
}

.cat__mouth-cont .cat-mouth.cat-mouth-left {
  background-color: transparent;
  left: 5%;
}

.cat__mouth-cont .cat-mouth.cat-mouth-right {
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  right: 5%;
}

.cat__mouth-cont .cat-mouth-bottom {
  width: 50%;
  height: 15%;
  background-color: red;
  bottom: 52%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cat__ear-cont {
  height: 40%;
  width: 100%;
  top: -30%;
}

.cat__ear-cont .cat-ear-outer-left {
  left: -16%;
  width: 50%;
  height: 140%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 50px;
}

.cat__ear-cont .cat-ear-outer-left .cat-ear-inner {
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 20%;
}

.cat__ear-cont .cat-ear-outer-left .cat-ear-inner .cat-ear-inner-blend {
  border-radius: 48px 32px;
}

.cat__ear-cont .cat-ear-outer-right {
  right: -12%;
  top: -10%;
  width: 50%;
  height: 140%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  border-radius: 50px;
}

.cat__ear-cont .cat-ear-outer-right .cat-ear-inner {
  width: 90%;
  height: 93%;
  -webkit-clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
          clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  border-radius: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 15%;
}

.cat__ear-cont .cat-ear-outer-right .cat-ear-inner .cat-ear-inner-blend {
  border-radius: 22px 43px;
}

.cat__ear-cont .cat-ear-inner-blend {
  width: 90%;
  height: 90%;
  top: 78px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.marble {
  top: 33%;
  width: 50%;
  left: 50%;
  height: 70%;
}

.marble .fur-color {
  background-color: #0e0e0e;
}

.marble .fur-color__alt {
  background-color: #131313;
}

.marble__head {
  left: 50%;
  border: 2px solid black;
}

.marble__head-copy {
  width: 100%;
  height: 100%;
  border-radius: 51% 48% 54% 54%/29% 29% 71% 71%;
  background-color: transparent;
  overflow: hidden;
}

.marble__head-copy-white-fur {
  width: 66%;
  height: 40%;
  border-radius: 54% 50% 0% 0% / 47% 80% 0% 0%;
  background-color: #faf8f8;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.marble__head-copy-tan-fur-nose {
  width: 16%;
  height: 95%;
  bottom: 0;
  background-color: #e2b06e;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}

.marble__head-copy-tan-fur-right-eye {
  width: 15%;
  height: 55%;
  bottom: 9%;
  background-color: #e2b06e;
  left: 60%;
  -webkit-transform: rotate(64deg);
          transform: rotate(64deg);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}

.marble__head-copy-tan-fur-right-ear {
  width: 25%;
  height: 60%;
  top: -47%;
  background-color: #e2b06e;
  left: 48%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}

.marble__eye {
  background-color: #67633d;
}

.marble__pupil-color {
  background-color: #0c0a16;
}

.marble__whisker-color {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, lightgray));
  background: linear-gradient(90deg, white 0%, lightgray 20%);
}

.marble__nose {
  background: #b67c31;
  border: 1px solid brown;
}

.marble__ear-outer {
  background: #080808;
}

.marble__ear-outer.cat-ear-outer-left .cat-ear-inner {
  -webkit-box-shadow: inset 0px 20px 20px 8px rgba(0, 0, 0, 0.76);
          box-shadow: inset 0px 20px 20px 8px rgba(0, 0, 0, 0.76);
}

.marble__ear-outer.cat-ear-outer-right .cat-ear-inner {
  -webkit-box-shadow: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
          box-shadow: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
}

.marble__ear-outer .tan-fur-ear-outer {
  width: 70%;
  height: 95%;
  top: 0;
  border-radius: 50%;
  background-color: #e2b06e;
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}

.marble__ear-inner {
  background: #111111;
}

.marble__mouth {
  background: #f57777;
}

.pearl {
  top: 33%;
  width: 50%;
  height: 70%;
}

.pearl .fur-color {
  background-color: #f1f1f1;
}

.pearl__head {
  left: 50%;
  border: 2px solid white;
}

.pearl__eye-color {
  background-color: #958466;
}

.pearl__pupil-color {
  background-color: #15151e;
}

.pearl__whisker-color {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, lightgray));
  background: linear-gradient(90deg, white 0%, lightgray 20%);
}

.pearl__nose {
  background: #8d6c64;
}

.pearl__ear-outer {
  background: #f8f8f8;
}

.pearl__ear-outer.cat-ear-outer-left .cat-ear-inner {
  -webkit-box-shadow: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
          box-shadow: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
}

.pearl__ear-outer.cat-ear-outer-right .cat-ear-inner {
  -webkit-box-shadow: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
          box-shadow: inset 0px 30px 20px 3px rgba(226, 176, 110, 0.521);
}

.pearl__ear-inner {
  background: #f3f3f3;
}

.pearl__mouth {
  background: #f57777;
}

body {
  background: white;
}

.css-illustration *,
.css-illustration *:after,
.css-illustration *:before,
.css-illustration:after,
.css-illustration:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  border: solid 4px white;
  margin-top: 8%;
  width: 1000px;
  height: 1000px;
  background-color: #f0d8d8;
  border-radius: 50%;
}

.box::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 150px 0px 50px white;
          box-shadow: 0px 150px 0px 50px white;
  z-index: 3;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

.layer3 {
  z-index: 3;
}

.layer4 {
  z-index: 4;
}

.layer5 {
  z-index: 5;
}

.layer6 {
  z-index: 6;
}

.layer7 {
  z-index: 7;
}

.layer8 {
  z-index: 8;
}

.layer9 {
  z-index: 9;
}

.layer10 {
  z-index: 10;
}
/*# sourceMappingURL=main.css.map */